.projects {
    background-color: $white;
    &__intro {
        padding-top: $sectionpadding;
        &__inner {
            &__title {
                font-family: $font-display;
            }
            &__text {
                font-family: $font-sans;
            }
        }
    }
    &__main {
        &__inner {
            width: 100%;
            &__container {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
            }
        }
    }
}